dotnet-gcmserver/Service References/ServiceReference1/ServicioRegistroC2DM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sgoliver.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sgoliver.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sgoliver.net/">
      <s:element name="RegistroCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="regC2DM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistroClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistroClienteSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroCliente" />
  </wsdl:message>
  <wsdl:message name="RegistroClienteSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioRegistroC2DMSoap">
    <wsdl:operation name="RegistroCliente">
      <wsdl:input message="tns:RegistroClienteSoapIn" />
      <wsdl:output message="tns:RegistroClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioRegistroC2DMSoap" type="tns:ServicioRegistroC2DMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistroCliente">
      <soap:operation soapAction="http://sgoliver.net/RegistroCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioRegistroC2DMSoap12" type="tns:ServicioRegistroC2DMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistroCliente">
      <soap12:operation soapAction="http://sgoliver.net/RegistroCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRegistroC2DM">
    <wsdl:port name="ServicioRegistroC2DMSoap" binding="tns:ServicioRegistroC2DMSoap">
      <soap:address location="http://localhost:1634/ServicioRegistroC2DM.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioRegistroC2DMSoap12" binding="tns:ServicioRegistroC2DMSoap12">
      <soap12:address location="http://localhost:1634/ServicioRegistroC2DM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>